<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,88},{44,26}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{44,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,60},{44,26}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{44,26}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>back_to_menu_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,199},{122,24}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,10},{122,24}}</string>
                <key>sourceSize</key>
                <string>{192,48}</string>
            </dict>
            <key>bloard_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,16}}</string>
                <key>sourceSize</key>
                <string>{320,16}</string>
            </dict>
            <key>blood_count_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,170},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,170},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,351},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,339},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,303},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,291},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,282},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,270},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,258},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,100},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>blood_count_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{96,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,10}}</string>
                <key>sourceSize</key>
                <string>{96,10}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,330},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>bob_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,246},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>bob_fall_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,313},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bob_fall_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,292},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>bob_fall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,248},{26,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,30}}</string>
                <key>sourceSize</key>
                <string>{26,30}</string>
            </dict>
            <key>bob_hit_top_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,182},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bob_hit_top_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,170},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bob_hit_top_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,216},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>bob_on_star_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,261},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>bob_on_star_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,232},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>bob_on_star_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,280},{30,31}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>bob_on_star_right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,234},{25,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,32}}</string>
                <key>sourceSize</key>
                <string>{25,32}</string>
            </dict>
            <key>bob_on_star_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,204},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,32}}</string>
                <key>sourceSize</key>
                <string>{26,32}</string>
            </dict>
            <key>bob_on_star_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,260},{30,31}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{32,31}</string>
            </dict>
            <key>bob_walk_left_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,314},{23,29}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>bob_walk_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,314},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>bob_walk_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,276},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>bob_walk_right_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,307},{23,29}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>bob_walk_right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,324},{24,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,30}}</string>
                <key>sourceSize</key>
                <string>{24,30}</string>
            </dict>
            <key>bob_walk_right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,345},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>coin_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,164},{18,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{18,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,332},{12,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{12,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>coin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,74},{6,28}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{6,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{114,64}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,15},{114,64}}</string>
                <key>sourceSize</key>
                <string>{160,96}</string>
            </dict>
            <key>high_scores.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,182},{72,24}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{72,24}}</string>
                <key>sourceSize</key>
                <string>{96,32}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{274,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{274,142}}</string>
                <key>sourceSize</key>
                <string>{274,142}</string>
            </dict>
            <key>menu_beginning_game_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_beginning_game_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_help_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,135},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_help_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,135},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_high_scores_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,100},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_high_scores_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,100},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_more_application_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,65},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_more_application_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,65},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_quit_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,30},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>menu_quit_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,30},{128,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,33}}</string>
                <key>sourceSize</key>
                <string>{128,33}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,140},{26,36}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,16},{26,36}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>pause_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,164},{122,62}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,20},{122,62}}</string>
                <key>sourceSize</key>
                <string>{192,96}</string>
            </dict>
            <key>ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{174,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{174,26}}</string>
                <key>sourceSize</key>
                <string>{192,32}</string>
            </dict>
            <key>resume_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,228},{100,28}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,20},{100,28}}</string>
                <key>sourceSize</key>
                <string>{192,48}</string>
            </dict>
            <key>rolling_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,268},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>rolling_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,208},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>rolling_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,116},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>rolling_board_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,168},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>rolling_board_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,74},{64,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,36}}</string>
                <key>sourceSize</key>
                <string>{64,36}</string>
            </dict>
            <key>rolling_board_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,291},{64,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,30}</string>
            </dict>
            <key>rotate_left_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,312},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>rotate_left_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,294},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>rotate_left_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,276},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>rotate_left_board_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,258},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>rotate_right_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,240},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>rotate_right_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,260},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>rotate_right_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,182},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>rotate_right_board_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,248},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,30},{28,44}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,20},{52,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{52,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>spring_board_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,228},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>spring_board_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,225},{64,12}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{64,12}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>spring_board_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,182},{64,10}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{64,10}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>stab_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,194},{64,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,16}}</string>
                <key>sourceSize</key>
                <string>{64,16}</string>
            </dict>
            <key>treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,288},{32,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{32,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprite_sheet.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4994bafe0ffceb45648a829455a29ee7$</string>
            <key>textureFileName</key>
            <string>sprite_sheet.png</string>
        </dict>
    </dict>
</plist>
